html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header, .content-top {
    background-color: #1F2937;
}

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
    padding-left: 200px;
}

.header-links {
    font-size: 18px;
    list-style-type: none;
    width: 500px;
    padding-left: 0;
    padding-right: 200px;
    display: flex;
    justify-content: space-evenly;
    
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.content-top {
    display: flex;
    padding: 100px;
    justify-content: center;
}

.hero-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 8px 24px;
}

.top-left {
    padding-right: 100px;
}

.top-right {
    background-color: #A5A7AB;
    color: #F5F7FB;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-wrapper h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.info-cards {
    display: flex;
}

.info-content {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    padding: 0 30px;
}

.info-image {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
    width: 125px;
    height: 125px;
}

.info-subtext {
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    display:flex;
    justify-content: center;
}

.quote-wrapper {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

/*import light italics font for roboto*/
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic-webfont.eot');
    src: url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-LightItalic-webfont.woff') format('woff'),
         url('Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

.quote {
    font-family: 'Roboto-LightItalic-webfont';
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    align-self: flex-end;
}

.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-info {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    width: 800px;
    padding: 25px 100px;
    margin: 50px 0;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.bottom-button-wrapper {
    border: 2px solid white;
    border-radius: 8px;
}

.call-to-action {
    font-weight: bold;
    font-size: 1.2em;
}

.sign-up-text p {
    margin: 5px 0;
}